unit2/xml/demo01_helloworld.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="person" type="personType"/>
    <xs:complexType name="personType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="age"/>
            <xs:element type="xs:string" name="sex"/>
            <xs:element type="xs:string" name="hobby"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>